.btc-img {
  width: 100%;
}

@media (max-width: 600px) {
  .btc-img {
    padding: 37px;
    width: 80%;
    height: 60%;
  }
}

@media (max-width: 380px) {
  .btc-img {
    width: 80%;
    height: 40%;
  }
}
