@font-face {
  font-family: 'ST-SimpleSquare';
  src: url('../../button/assets/fonts/ST-SimpleSquare.woff') format('woff'),
      url('../../button/assets/fonts/ST-SimpleSquare_1.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Jaro';
  src: url('../../button/assets/fonts/Jaro.woff') format('woff');
  font-display: swap;
}

.task-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  max-width: 800px;
  margin: 20px auto;
  padding: 10px;
}

.inscription {
  font-family: 'ST-SimpleSquare', sans-serif;
  font-size: 1em;
  color: white;
  margin-top: 1em;
  text-align: center;
}

.imgtg {
  width: 3em;
  height: 3em;
  margin-bottom: 1em;
  margin-right: 1.125em;
}

.text {
  font-family: 'Jaro', sans-serif;
  color: white;
  text-align: center;
  margin-bottom: 1em;
}

.reward-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
}

.reward-button {
  background-color: #50b9ff;
  color: white;
  border: none;
  padding: 1em 2em;
  font-size: 0.75em;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.reward-button:disabled {
  cursor: not-allowed;
}

.reward-button-text {
  color: white;
  font-weight: bold;
  margin-left: 0.5em;
}

.reward-icon {
  width: 1.25em;
  height: 1.25em;
  margin-bottom: 3.125em;
  margin-left: 1.125em;
}
