@font-face {
  font-family: "ST-SimpleSquare";
  src: url("../../button/assets/fonts/ST-SimpleSquare.woff") format("woff"),
    url("../../button/assets/fonts/ST-SimpleSquare_1.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Jaro";
  src: url("../../button/assets/fonts/Jaro.woff") format("woff");
  font-display: swap;
}

.task-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 800px;
  margin: 17px auto;
  flex-wrap: wrap;
}

.inscription {
  font-family: "ST-SimpleSquare", sans-serif;
  font-size: 1em;
  color: white;
  margin-top: 1em;
  text-align: center;
}

.imgtg {
  width: 25px;
  height: 25px;
  margin-bottom: 15px;
  margin-right: 10px;
}

.imgtw {
  width: 35px;
  height: 35px;
  margin-bottom: 15px;
  margin-right: 10px;
}

.imggalxe {
  width: 35px;
  height: 35px;
  margin-bottom: 15px;
  margin-right: 10px;
}

.imgtonkeeper {
  width: 55px;
  height: 40px;
  margin-bottom: 15px;
}
.imgstonfi{
  width: 35px;
  height: 35px;
  margin-bottom: 15px;
}

.text {
  font-family: "Jaro", sans-serif;
  color: white;
  text-align: center;
  font-size: 16px;
}

.reward-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
}

.reward-button {
  color: white;
  border: none;
  padding: 1em 2em;
  font-size: 0.75em;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.reward-button:disabled {
  cursor: not-allowed;
}

.reward-button-text {
  color: white;
  font-weight: bold;
  margin-left: 0.5em;
}

.reward-icon {
  width: 1.75em;
  height: 1.75em;
  margin-bottom: 3.6em;
  margin-left: 1.125em;
}

.checked{
  width: 25px;
  height: 25px;
  margin-bottom: 20px;
  margin-left: 20px;
}

@media (max-width: 768px) {
  .inscription h1 {
    font-size: 1.5em;
  }

  .reward-button {
    padding: 0.7em 1.2em;
    font-size: 0.65em;
  }
}

@media (max-width: 480px) {
  .inscription h1 {
    font-size: 1.2em;
  }
  .reward-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: em;
  }

  .reward-button {
    padding: 0.6em 1em;
    font-size: 0.6em;
  }

 
}

@media (max-width: 400px) {
  .task-container {
    margin: 16px auto;
  }
}

@media (max-width: 380px) {
  .task-container {
    margin: 10px auto;
  }
  .text {
    font-size: 14px;
  }
}

@media (max-width: 375px) {
  .task-container {
    margin: 0px auto;
  }
  .text {
    font-size: 14px;
  }
}

@media (max-width: 380px) {
  .inscription h1 {
    font-size: 1em;
  }

  .reward-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .reward-button {
    padding: 0.6em 1em;
    font-size: 0.6em;
  }
  .imgstonfi,
  .imgtw,
  .imggalxe,
  .imgtonkeeper {
    width: 2.5em;
    height: 2em;
  }
}
