@font-face {
  font-family: 'ST-SimpleSquare';
  src: url('../../button/assets/fonts/ST-SimpleSquare.woff') format('woff'),
      url('../../button/assets/fonts/ST-SimpleSquare_1.woff') format('woff');
  font-display: swap;
}

.inscription{
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'ST-SimpleSquare';
  font-size: 15px;
}