.icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 30px;
}


.icon-counter {
    width: 3.125em;
    height: 3.125em;
  }
  
.icon-text {
    font-size: 0.75em;
    color: rgb(255, 255, 255);
    margin-top: 0.375em;
    font-family: "ST-SimpleSquare", sans-serif;
}


@media (max-width: 768px){
    .icon {
        width: 2.5em;
        height: 2.5em;
      }
    
      .icon-text {
        font-size: 0.6875em;
      }
}


@media (max-width: 480px){
    .icon-counter {
        width: 2em;
        height: 2em;
        margin-bottom: 0;
      }
    
      .icon-text {
        font-size: 0.625em;
      }
}

@media (max-width: 380px){
    .icon-counter {
        width: 1m;
        height: 1em;
        padding-top: 1rem;
      }
    
      .icon-text {
        font-size: 0.625em;
      }
}

