
.container {
    position: fixed;
    bottom: 20px; 
    left: 50%;
    transform: translateX(-50%);
    width: 90%; 
    max-width: 400px; 
    padding: 100px; 
}


.centered-button {
    background-color: #6200ea; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    padding: 15px 0; 
    font-size: 18px; 
    width: 100%; 
    font-weight: bold; 
    cursor: pointer; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s ease, transform 0.3s ease; 
    text-align: center; 
}


.centered-button:hover {
    background-color: #3700b3; 
    transform: translateY(-2px); 
}


.centered-button:active {
    background-color: #30009c; 
    transform: translateY(1px); 
}
