.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.25em;
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 23.875em;
  margin-top: 0.3125em;
}

.icon {
  width: 6.25em;
  height: 6.25em;
}

.icon-text {
  font-size: 1em;
  color: white;
  margin-top: 0.5em;
  font-family: 'ST-SimpleSquare', 'Jaro', sans-serif;
}


@media (max-width: 768px) {
  .icon-button {
      margin-left: 0;
      margin-top: 0.3125em;
  }
}


@media (max-width: 480px) {
  .icon-button {
      margin-left: 0;
      margin-top: 0.3125em;
  }

  .icon {
      width: 4em;
      height: 4em;
  }

  .icon-text {
      font-size: 0.875em;
      margin-top: 0.375em;
  }
}
