body {
  margin: 0;
  padding: 0;
  background-image: url('../public/stars.gif');
  background-position: center top;
  max-width: 1920;
  height: 100px; 
  overflow: hidden; 
}


.btc-img{
  height: 400px;
  margin-left: 700px;
}