body {
  margin: 0;
  padding: 0;
  background-image: url('../public/stars.gif');
  max-width: 400px;
  background-position: center top;
  height: 2796px;
  width: 1290; 
  overflow: hidden; 
}


.btc-img{
  height: 500px;
  margin-left: 560px;
}