.button-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #000;
    padding: 5px 0;
}

.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .content {
    width: 100%;
  }
  